# Bỏ qua thư mục build của Maven
CarRentalWebsite/target/

# Bỏ qua file cấu hình của NetBeans
CarRentalWebsite/nb-configuration.xml

# Bỏ qua file Maven cache và build logs
CarRentalWebsite/target/maven-archiver/
CarRentalWebsite/target/maven-status/

# Bỏ qua file biên dịch Java
**/*.class

# Env file
.env
